body 
{
    background-color: #f5f7fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container 
{
    background-color: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 
{
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-size: 28px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] 
{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #dfe4ea;
    border-radius: 6px;
    font-size: 16px;
}


button[type="submit"] 
{
    background-color:rgb(225, 38, 30);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

p 
{
    margin-top: 20px;
    color: #7f8c8d;
    font-size: 15px;
}

a 
{
    color: rgb(225, 38, 30);
    text-decoration: none;
    font-weight: 600;
}
