/* * {
    font-family: 'Courier New', Courier, monospace;
} */

#logo 
{
    width: 50px;
    height: auto; 
}


header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.header 
{
    display: flex;
    align-items: center;
    width: 100%;
    
}

.titre
{
    margin-left: 20px;
    font-size: 1.5em;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.titre h1, .titre p 
{
    margin: 0;
    padding: 0;
}

.titre p 
{
    font-size: 0.7em;
    color: #666;
}

.nav-list 
{
    list-style: none;   
}


#compte
{
    margin-left: 65vh;
}

.nav-list a 
{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.nav-list a:hover 
{
    color: #0066cc;
    background-color: rgba(0, 102, 204, 0.1);
    border-radius: 4px;
}

.nav-list i 
{
    margin-right: 8px;
}

#retourmenu {
    text-decoration: none;
}


#barreRecherche {
    display: flex;
    justify-content: center;
    margin: -20px 0;
    margin-right: 8.5%;
}

#search-form {
    display: flex;
    width: 100%;
    max-width: 600px;
}

#search-input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    background-color: #fff;
}

#search-button {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-left: none;
    padding: 0 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button i {
    font-size: 18px;
    color: #606060;
}


footer
{
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    width: 100%;
}