


#VideoDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#VideoDiv video
{
    width: auto;
    height: 75vh;
    margin: 2vh;
    border-radius: 10px;
}

#DescriptionDiv {

}

#MESSAGE-ERROR {
    font-size: 1000%;
}