#PrimaryDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#PrimaryDiv video
{
    width: auto;
    height: 75vh;
    margin: 2vh;
    border-radius: 10px;
}

#MESSAGE-ERROR {
    font-size: 1000%;
}